!!! Transitional
%html
  %head
    %title ChatWall
    %meta{'http-equiv' => 'Content-type', :content => 'text/html; charset utf-8'}
    = css_include_tag :master
    = js_include_tag 'jquery.js'
    = js_include_tag 'jquery.form.js'
  
  %body
    =catch_content :for_layout
