<script type="text/javascript"> 
function OnSuccess (responseText)
{
  var element = $(responseText);
	$('#posts').append(element);
	element.hide ().show("slow");
} 

function OnReady ()
{
  var options = {
    resetForm: true,
		success: OnSuccess
	};

  $('#new').ajaxForm(options);
}

$(document).ready(OnReady);
</script>

<h1>Welcome to MyApp!</h1>
<h2>This is a simple chat wall application</h2>

<p>Recent Posts:</p>
<div id="posts" class="container">
    <%= partial("/shared/post", :with => @posts) %>
</div>

<p>Post Something:</p>
<% form_tag(:id => "new", :action => url( :controller => "posts", :action => "dynamic_create") ) do %>
    <%= text_field(:name => "body", :size => 40) %>
    <%= submit_button("Post Message!") %>
<% end %>